{%extends 'base.html'%}

{%block content%}
<div class="all">
    {%for instance in object_list%}
    <div class="cart">
        <div class="meal">
            <p>{{instance.title}}</p>
            <p>{{instance.description}}</p>
            <p>{{instance.price}}</p>
        </div>
        <div class="x">
            <a href = "{{instance.get_remove_from_cart_url}}">
                <i class="far fa-times-circle"></i>
            </a>
        </div>
    </div>
    {%empty%}
    <p>Koszyk jest pusty</p>
    {%endfor%}
</div>

{%if object_list%}
<div class="order">
    <p>{{sum}}</p>
    <a href = "/order-create">
        <input type='button' value='Order' />
    </a>
</div>
{%endif%}
{%endblock%}