{%extends 'base.html'%}

{%block content%}
    <h1>CATEGORIES</h1>
    {%for instance in object_list%}
        <div class="window">
            <a href = "{{instance.get_absolute_url}}">
                <div class="container">
                    <img class="category" src="{{instance.image.url}}">
                    <div class="overlay">
                        <div class="text">{{instance.title}}</div>
                    </div>
                </div>
            </a>
        </div>
    {%endfor%}
{%endblock%}