{%extends 'base.html'%}

{%block content%}

<h1>{{object.title}}</h1>

{%for instance in object_list%}
<a href = "{{instance.get_absolute_url}}">
        <div class="restaurant">
            <div class="restaurant_img"><img src="{{instance.image.url}}"></div>
            <div class="restaurant_desc"><p>{{instance.title}}</p>
                <p>{{instance.town}}, {{instance.adres}}</p>
                <p>{{instance.price}}$</p></div>
        </div>
</a>
    {%endfor%}
{%endblock%}
<img src="{{instance.image.url}}">
